@import "tailwindcss";

@theme {
  --color-adhara-pink: #ED5A87;
  --color-adhara-black: #0B0B0C;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-adhara-black text-white;
}

.link-adhara {
  @apply text-adhara-pink hover:underline underline-offset-4;
}
